VITE_SUPABASE_URL=https://pxflifrmipunlzzgpjnq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4ZmxpZnJtaXB1bmx6emdwam5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwNDkzOTksImV4cCI6MjA5NDYyNTM5OX0.po_Txb0iVk6Oilf871BETdAeVAjb0s8XUBfbvLDLVsk
